.chatscreen {
  width: 400px;
  height: 800px; /* Fixed height to allow scrolling */
  border-radius: 10px;
  background-color: rgb(107, 211, 188);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable scrolling */
  justify-content: flex-start;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between messages */
}

.message-wrapper {
  display: flex;
  align-items: center;
}

.user-message {
  justify-content: flex-start;
}

.bot-message {
  justify-content: flex-end;
}

.icon-box {
  width: 40px;
  height: 40px;
  background-color: rgb(242, 245, 245);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.user-icon {
  font-size: 20px;
  color: rgb(64, 72, 151);
}

.bot-icon {
  font-size: 20px;
  color: rgb(237, 92, 92);
}

.message-text {
  background-color: #f8f9fa; /* Light background for bot messages */
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
  color: black;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
/* ChatScreen.css */

.transformation-heading {
  font-weight: bold;
  font-size: 16px;
  color: #007bff; /* Blue color for the heading */
  margin: 0 0 5px 0; /* Slight margin below the heading */
}

.transformed-message {
  font-size: 14px;
  color: black;
  margin: 0; /* No margin for message text */
}
